@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap");
@import "antd/dist/antd.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primaryFont;
  font-size: 1.6rem;
}

a,
a:hover {
  text-decoration: none;
  color: $blackColor;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

ul,
ol li {
  list-style: none;
}

// common class

.app {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 50px 0 50px;
  &_heading {
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
    line-height: 30px;
    font-size: 2.4rem;
    margin-bottom: 3.5rem;
  }
}

.section.gray {
  background-color: #f4f5f7;
}
