.product_detail_image {
  width: 100%;
  max-width: 100%;

  &_wrapper {
    width: 100%;
    max-width: 100%;
    height: 450px;
    max-height: 450px;
    overflow-y: hidden;
  }

  &_item {
    cursor: pointer;
    height: 90px;
    opacity: 0.4;
    overflow: hidden;
  }

  &_item.active {
    opacity: 1;
    border: 1px solid #111111;
  }
}
